# Ignore build output folders
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Visual Studio folders and cache files
.vs/
.vscode/

# Ignore JetBrains Rider settings
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore large video files
videos/

# Other temporary files
_ReSharper*/
